<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <% } %>
  </head>
  <body>
    <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
